.cart-container{
    align-items: center;
    display: flex;
    justify-content: center;
}
table{
    width: 40%;
    text-align: center;
}
thead{
    color: #c1433a;
}
body{
    background-image: image-set("images/pattern.png");
}